body {
	background-color: #080808;
	color: white;
	font-family: 'Open Sans', sans-serif;

}

h2 {
    
    font-style: normal;
    font-family: 'Spectral', serif;
    color: #3500d3;
    font-weight: 700;

}

.title{
	font-family: 'Spectral', serif;
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #3500d3;

}

u{
	text-decoration-color: #3500d3;
}

#tooltip {
     position: absolute;
     text-align: center;
     padding: .3rem;
     background: #313639;
     color: #f9f9f9;
     border: 0px;
     border-radius: 10px;
}

#sections {
	position: relative;
	display: inline-block;
	width: 310px;
	z-index: 90;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	background-color: #282828;
}

.step {
	margin-bottom: 300px;

}

#vis {
	display: inline-block;
	position: fixed;
}

#notes{
	font-size: 14px;
}

#track-scatterplot{
	position: relative;
	z-index: 5;
}

#track-info{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 10;
	padding: 15px;

	width: 330px;
	height: 620px;
	display: block;
	bottom: 0;
	right:0;
	
}

#parallel{
	width: 700px;
	height: 310px;
	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;
	z-index: 10;
	display: block;
	right:0;
	top:0;
	

}

#volume-box{
	left:0;
	z-index: 10;
	position: absolute;
	display: block;
	width: 200px;

}

#volume{
	-webkit-appearance: none;  /* Override default CSS styles */
  	appearance: none;
	background: #d3d3d3;
	outline: none;
	height: 4px;
	opacity: 0.7;
}

#volume:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;

}


#volume-icon{
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(81deg) brightness(108%) contrast(102%);
	width: 15px;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 5px;
}

#volume-value{
	font-size: 14px;
	line-height: 16px;
	vertical-align: bottom;
}

.hide {
	cursor: pointer;
	z-index: 11;
	display: block;
	position: absolute;
	margin: 10px;
}

#hide-track{
	bottom:0;
	right: 0;
	height: 20px;
	margin-right: 10px;
}

#hide-parallel{
	top:0;
	right:0;
}


.nav-pills {
	font-size: 14px;
}

.tab-content{
	font-size: 14px;
}

#sections .step{
	opacity: .2;
} 

#sections .step.graph-scroll-active{
	opacity: 1;
}



.row{
	text-align: center;
	margin-top: 30px;
}

#popularity .row{
	text-align: left;
	margin-top: 30px;
}

#popularity .image-container{
	margin-right: 15px;
}

.row .artist{
	font-size: 14px;
	color: gray;
}

.image-container{
	position: relative;
	width: 64px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-bottom: 10px;
  	height: 64px;
}

img.song-image {
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);  
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.image-container:hover img.song-image{
	opacity: 0.5;
}


.music-icon {
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(81deg) brightness(108%) contrast(102%);
	width: 15px;
	position: absolute;
	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.ranking{
	color: white;
}

#album-variation img:hover {
	cursor: pointer;
}

